# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
innodb_buffer_pool_size = 128M
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
port = {{ mysql_port }}

[client]
port = {{ mysql_port }}

