[Unit]
Description=Python Webserver
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 -m http.server 8080 --directory /var/www/html/python/

[Install]
WantedBy=multi-user.target