<!DOCTYPE html>
<html>
<head>
    <title>Python Webserver for Network Automation</title>
</head>
<body>
    <h1>Ansible Web Server</h1>
    <p>Owned by JV and hosted on {{ hostname }}.</p>
</body>
</html>