[options]
addons_path = {{ odoo_server.addons_path }}
data_dir = {{ odoo_server.filestore }}
admin_passwd = {{ odoo_server.admin_passwd }}
; csv_internal_sep = ,
; db_maxconn = 64
db_host = {{ database.host }}
db_port = {{ database.port }}
db_user = {{ database.user }}
db_password = {{ database.password }}
; db_name = {{ database.name }}
; db_template = template1
; dbfilter = .*
; debug_mode = False
; email_from = False
; limit_memory_hard = 2684354560
; limit_memory_soft = 2147483648
; limit_request = 8192
; limit_time_cpu = 60
; limit_time_real = 120
; list_db = True
; log_db = False
; log_handler = [':INFO']
log_level = info
logfile = /var/log/odoo/odoo-server.log
longpolling_port = {{ odoo_server.chat_port }}
; osv_memory_age_limit = 1.0
; osv_memory_count_limit = False
; smtp_password = False
; smtp_port = 25
; smtp_server = localhost
; smtp_ssl = False
; smtp_user = False
proxy_mode = True
workers = {{ odoo_server.workers }}
max_cron_threads = {{ odoo_server.max_cron_threads }}
; xmlrpc = True
; xmlrpc_interface =
xmlrpc_port = {{ odoo_server.web_port }}
; xmlrpcs = True
; xmlrpcs_interface =
; xmlrpcs_port = 8071