My name is {{ ansible_facts['hostname'] }} and I am a {{ ansible_facts['os_family'] }} machine. I have {{ ansible_facts['processor_cores'] }} cores and {{ ansible_facts['processor_vcpus'] }} vcpus. I have {{ ansible_facts['processor_count'] }} processors and {{ ansible_facts['processor_threads_per_core'] }} threads per core.

BE SURE TO ENJOY THE DAY! GREETING JASPER VANHOVE.